* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PingFang TC", "Microsoft JhengHei", sans-serif;
  background: black; 
  overflow: hidden;
}
.lottery-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.lottery-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;       
  width: auto;        
  max-width: 100vw;   
  object-fit: contain;
  display: block;
}
.lottery-item {
  position: absolute;
  width: 100px;
  height: 210px;
  background: url("https://fs2.vacanza.tw/upload/ftp/ProductPic/v_2025pjparty/icon-O.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: transform 0.3s ease, background-image 0.3s ease;
}
.lottery-item.clicked {
  transform: rotateY(180deg);
  background-image: url("https://fs2.vacanza.tw/upload/ftp/ProductPic/v_2025pjparty/icon-X.png");
  background-size: contain;
}
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  display: none; 
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  width: 90%;  
  max-width: 550px;       
  aspect-ratio: 1 / 1; 
  background-image: url("https://fs2.vacanza.tw/upload/ftp/ProductPic/v_2025pjparty/window.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  overflow: hidden;
}
.inner-white {
  position: absolute;
  z-index: -2;
  top: 15%;      
  left: 5%;     
  width: 90%;   
  height: 80%;  
  background-color: white;
  border-radius: 5px;  
  overflow: hidden;    
}

.modal-details {
  position: absolute;
  bottom: 4%;           
  left: 50%;            
  transform: translateX(-50%);
  width: 80%;            
  text-align: center;
  z-index: 5;            
}


#prize-image {
  position: absolute;
  z-index: -1;           
  top: 50%;              
  left: 48.5%;
  transform: translate(-50%, -50%);
  width: 80%;           
  height: auto;
}

.heart-text {
  position: absolute;
  top: 105px;    
  right: 63px;  
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  line-height: 1;
  white-space: normal;
  width: 32px;
}

@font-face {
  font-family: "PingFangTC-Semibold";
  src: url("fonts/PingFangTC-Semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PingFangTC-Regular";
  src: url("fonts/PingFangTC-Regular") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#prize-name {
  font-family: "PingFangTC-Semibold", sans-serif;
}
#prize-description {
  font-family: "PingFangTC-Regular", sans-serif;
}
.heart-text {
  font-family: "PingFangTC-Semibold", sans-serif;
}